/*  
* component-hero(home)
*/
[data-component-hero]{
    //url("https://placeholder.pics/svg/1557x1073")
    background-image: linear-gradient(to bottom,rgba(14, 54, 87, 0.62),rgba(255, 170, 0, 0.519),black); ;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: auto;
    background-size: cover;


    .heading{
        animation: drop 0.75s linear forwards;
    }

    @keyframes drop {
        0%{
            transform: translateY(-200px) scaleY(0.9);
        }  
        5%{
            opacity: 0.7;
        }  
        50%{
            transform: translateY(0px) scaleY(1);
        }  
        65%{
            transform: translateY(-17px) scaleY(0.9);
        }  
        75%{
            transform: translateY(-22px) scaleY(0.9);
        }  
        100%{
            transform: translateY(0px) scaleY(1);
        }  
    }
    .c_btn{
        &--get_started{
            background-color: #08C7D1;
            &:hover{
                background-color: rgba(255, 166, 0, 0.4);
            }
        }
    }

    .video-container {
        position:fixed;
        top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index:99999;
          background-color:rgba(255,122,0,0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          opacity:0;
          pointer-events:none;
          transition: all 0.3s;
           .close{
            position:absolute;
            top:10%;
            right:25px;
            font-size:20px;
            cursor:pointer;
            color: red;
            }
          
          video{
            
            width:90%;
            max-width:800px;
            transform:scale(0);
            box-shadow: 0 20px 20px rgba(0,0,0,0.2);
            outline:none;
            transition: all 0.3s;
          }
          &.show{
            pointer-events:all;
            opacity:1;
            background-color: hsl(0deg 0% 0% / 75%);
            
            video {
              transform:scale(2);
            }
          }
        }
        
}